
.About {
  display: flex;
  flex-direction: column;
  background-color: #001142;
  font-family: "Lato";
  margin: 0 auto;
  min-height: 100vh;
}

.AboutBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  margin-left: 3%;
  margin-right: 3%;
}