.post-box {
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  padding: 0.5em;
  margin: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-end;
  /* transform: translateY(-10px); */
  font-size: 0.8em;
  margin-right: 1em;
}

.post-footer {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  justify-content: space-between;
}

.post-date {
  display: flex;
  align-self: flex-end;
  transform: translate(0%,-50%);
  margin-left: 0.5em;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  gap: 0.5em;
}

.post-user {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
  transform: translate(0%, 25%);
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.song-info {
  font-weight: 700;
  font-size: 20px;
  padding-top: 0.5em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1CA2F1;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 0;
}


/* heart css */
.content{
  padding: 13px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.heart{
  background: url("./images/img.png") no-repeat;
  /* background-position: left; */
  background-size: 2900%;
  height: 60px;
  width: 60px;
  transform: translate(30%,25%);
}

.numb:before{
  /* content: '0'; */
  font-size: 14px;
  margin-left: 7px;
}

.numb.heart-active:before{
  /* content: '1'; */
  color: white;
}

/* .heart.heart-active{
  animation: animate .8s steps(28) 1;
  background-position: right;
}

@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
} */
