.shazam-container {
  margin: 0 auto;
  min-height: 100vh;
}


.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bop-btn {
  background-color: #1CA2F1;
  border-color: #1CA2F1;
  margin: 2em 1em 0.5em;
  font-size: 24px;
}

