.user-profile {
  background-color: #001142;
  color: white;
  font-family: "Lato";
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile-header {
  display: flex;
  flex-direction: row;
  margin: 0.5em 2em;
  padding: 0.5em 2em;
  gap: 1em;
}

.name-location {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.user-profile-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5em;
  border-bottom: 1px solid white;
  margin: 0.5em 2em;
  padding: 0em 2em 0.5em 2em;
  padding-bottom: 1em;
  font-size: 18px;
}


#profileImage {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #1CA2F1;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  margin: 20px 0;
}

.follow-button {
  border: 1px solid #1CA2F1;
  border-radius: 4px;
  background-color: #1CA2F1;
  color: white;
  width: 80px;
  height: 35px;
  transform: translate(20%, 50%);
}

