.user-profile {
  background-color: #001142;
  color: white;
  font-family: "Lato";
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile-header {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0.5em;
  padding: 0.5em;
}

.name-location {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.user-profile-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0.5em;
  padding: 0.5em;
}

.avatar {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  object-fit: cover;
}

.follow-button {
  border: 1px solid #1CA2F1;
  border-radius: 4px;
  background-color: #1CA2F1;
  color: white;
}